* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header  {
    height: 200px;
    width: 100vw;
    background-color: rgb(0, 150, 136);
}


body {
    background-color: grey;
    position: relative;
}

.container {
    width: 1400px;
    height: 800px;
    position: absolute;
    background-color: white;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
}

main {
    width: 100vw;
}

.d-flex {
    display: flex;
}

.aside {
    background-color: rgb(200, 200, 200);
    width: 35%;
}

.right-side {
    width: 65%;
}

#sofia {
    line-height: 50px;
}

.head {
    height: 80px;
    background-color: lightgray;
    justify-content: space-between;
    padding: 15px 10px;
}
.img-avatars {
    height: 50px;
    border-radius: 50%;
}
.headTXT {
    padding-left: 5px;
    font-size: 18px;
}

.buttons {
    color: gray;
    font-size: 20px;
}

.icons {
    gap: 20px;
    align-items: center;
    margin-right: 10px;
}

.alerts {
    height: 90px;
    background-color: rgb(134, 167, 228);
    align-items: center;
    
}

.ring-container {
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    margin:0px 10px 0px 20px;
}



.alert-button {
    color: rgb(134, 167, 228);
    font-size: 25px;
}

.active-alerts {
    color: gray;
}

.container-filter {
    height: 50px;
    background-color: beige;
    padding: 10px;
}

.filter-wrapper {
    background-color: white;
    width: 100%;
    height: 100%;
    align-items: center;
}
.filtering {
    margin-left: 20px;
}

.chatFilter {
    width: 400px;
    margin-left: 10px;
    border: none;
}

.lens {
    color: gray;
}

.container-contact {
    height: 70px;
    background-color: WHITE;
    border-top: 1px solid rgb(139, 139, 139);
}

.gray {
    color: rgb(76, 76, 76);
}

.avatar-rubrica {
    margin-left: 10px;
    margin-top: 10px;
}

.nomi-rubrica  {
    margin-top: 15px;
    margin-left: 10px;
}

.container-contact:hover {
    background-color: gray;
}

.buttons:hover {
    color: white;
}

.msg-body {
    height: 650px;
    width: 100%;
    background-image: url("../img/mine.jpg");
    padding-top: 20px;
}

.msg-user-wrapper  {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}

.user-msg {
    background-color: rgb(213, 249, 186);
    padding: 15px;
    border-radius: 10px;
    max-width: 600px;
    word-wrap: break-word;

}

.bot-msg {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    word-wrap: break-word;
    max-width: 600px;

}

.msg-wrapper  {
    padding: 5px;
    display: flex;
    justify-content: flex-start;
}

.msg-input {
    height: 70px;
    background-color: beige;
    padding: 10px 20px;
}


