* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #4f4f4f;
    border-radius: 10px;
    border: 3px solid transparent;
  }

/* =====  Fine Scrollbar  ===== */ 

header  {
    height: 200px;
    width: 100vw;
    background-color: rgb(0, 150, 136);
}


body {
    background-color: grey;
    position: relative;
}



main {
    width: 100vw;
}





.container {
    width: 1400px;
    height: 800px;
    position: absolute;
    background-color: white;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
}

.aside {

    width: 35%;
}

.right-side {
    width: 65%;
}

#sofia {
    line-height: 50px;
}

.head {
    height: 80px;
    justify-content: space-between;
    padding: 15px 10px;
}
.img-avatars {
    height: 50px;
    border-radius: 50%;
}
.headTXT {
    padding-left: 5px;
    font-size: 18px;
}

.buttons {
    color: gray;
    font-size: 20px;
}

.icons {
    gap: 20px;
    align-items: center;
    margin-right: 10px;
}

.alerts {
    height: 90px;
    background-color: rgb(134, 167, 228);
    align-items: center;
    
}

.ring-container {
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    margin:0px 10px 0px 20px;
}



.alert-button {
    color: rgb(134, 167, 228);
    font-size: 25px;
}

.active-alerts {
    color: gray;
}

.container-filter {
    height: 50px;
    background-color: beige;
    padding: 10px;
}

.filter-wrapper {
    background-color: white;
    width: 100%;
    height: 100%;
    align-items: center;
}
.filtering {
    margin-left: 20px;
}

.chatFilter {
    width: 400px;
    margin-left: 10px;
    border: none;
}

.lens {
    color: gray;
}

.container-contact {
    height: 70px;
    background-color: WHITE;
    border-top: 1px solid rgb(139, 139, 139);
}

.gray {
    color: rgb(76, 76, 76);
}

.avatar-rubrica {
    margin-left: 10px;
    margin-top: 10px;
}

.nomi-rubrica  {
    margin-top: 15px;
    margin-left: 10px;
    flex-grow: 1;
}

.ora-rubrica {
    color: lightgray;
    padding-right: 5px;
}

.container-contact:hover {
    background-color: gray;
}

.buttons:hover {
    color: rgb(40, 40, 236);
}


/* =====  Message Body  =====*/

.msg-body {
    height: 650px;
    width: 100%;
    background-image: url("../img/mine.jpg");
    padding-top: 20px;
    overflow-y: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
}

.msg-user-wrapper  {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}

.user-msg {
    background-color: rgb(213, 249, 186);
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 600px;
    word-wrap: break-word;
    min-width: 300px;

}

.bot-msg {
    background-color: white;
    padding: 10px 15px;
    border-radius: 10px;
    word-wrap: break-word;
    max-width: 600px;
    min-width: 400px;

}

.msg-wrapper  {
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    
}


/* =====  Sezione di input  ===== */

.msg-input {
    height: 70px;
    background-color: beige;
    padding:  15px 20px;
}

.m-2 {
    margin: 0px 20px;
    font-size: 30px;
    align-self: center;
}

.send-msg {
    border: none;
    width: 80%;
    padding: 0px 20px;
    border-radius: 20px;
}

.date  {
    color: gray;
    font-size: 12px;
    text-align: right;
    padding-top: 5px;
}




/* =====    Dropdown    ===== */


.dropbtn {
    color: gray;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  
.dropdown {
    position: relative;
    display: none;
    
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #cac9c9;
    min-width: 160px;
    z-index: 1;
    border: 1px solid #cac9c9;
}

.dropdown-buttons {
    background-color: #cac9c9;
    border: none;
    width: 160px;
    height: 20px;
}

.dropdown-buttons:hover {
    background-color: white;
}
  
.dropdown-add {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    background-color: transparent;
    display: block;
    border: none;
    width: 100%;
}
  

.msg-user-wrapper:hover .dropdown, .msg-wrapper:hover .dropdown {
    display: inline-block;
}



/* ====    Codice riutilizzabile   ====*/

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}


.d-none {
    display: none;
}

.display-block {
    display: block;
}

/*  =============================   */