<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div id="app">

        <header>

        </header>
        <main>
            <div class="container d-flex">

                <!--Aside-->

                <div class="aside">
    
                    <!--Inizio Header dell'aside-->
                    <div class="head d-flex">
                        <div class="d-flex">
                            <img class="img-avatars" src="img/avatar_io.jpg" alt="">
                            <div class="headTXT" id="sofia">Sofia</div>
                        </div>
                        <div class="d-flex icons">
                            <i class="fa-solid fa-circle-notch buttons"></i>
                            <i class="fa-solid fa-message buttons"></i>
                            <i class="fa-solid fa-ellipsis-vertical buttons"></i>
                        </div>
                    </div>
                    <!--Fine Header dell'aside-->
    
    
                    <!--Inizio Alerts-->
                    <div class="alerts d-flex">
                        <div class="d-flex ">
                            <div class="ring-container">
                                <i class="fa-solid fa-bell-slash alert-button"></i>
                            </div>
                        </div>
    
                        <div class="">
                            <div>Ricevi notifiche di nuovi messaggi</div>
                            <a class="active-alerts" href="">Attiva notifiche desktop</a>
                        </div>
    
                    </div>
                    <!--Fine Alerts-->   
    
    
                    <!--Inizio Filter zone-->
                    <div class="container-filter">
                        <div class=" filter-wrapper d-flex">
    
                            <div class="filtering">
                                <i class="fa-solid fa-magnifying-glass lens"></i>
                                <input  class="chatFilter" type="text" placeholder="Cerca o inizia una nuova chat" name="" v-model="filtro"  @keyup="filter()">
                            </div>
    
                        </div>
                    </div>
                    <!--Fine Filter Zone-->
    
    
                    <!--Inizio Rubrica-->
                    <div class="rubrica">
                        <ul>
                            <li v-for="(element, index) in contacts" class="container-contact d-flex" @click="chat(index)" v-show="element.visible == true" >
                                <img :src="element.avatar"  class="img-avatars avatar-rubrica" alt="">
                                <div class="nomi-rubrica">
                                    <div class="d-flex space-between">
                                        <div>{{element.name}}</div>
                                        <div class="ora-rubrica">12:00</div>
                                    </div>
                                    <div class="gray">Ultimo Messaggio Inviato</div>
                                </div>

                            </li>
                        </ul>
                    </div>
    
                </div>
                <!--Fine Aside-->

                <!--Inizio Right Side-->
                <div class="right-side">
                    <div class="head d-flex">
                        <div class="d-flex">
                            <img class="img-avatars" src="img/avatar_io.jpg" alt="">
                            <div class="headTXT">
                                <div>{{contacts[elementoSelezionato].name}}</div>
                                <div>Ultimo accesso alle ore 12:00</div>
                            </div>
                        </div>
                        <div class="d-flex icons">
                            <i class="fa-solid fa-magnifying-glass buttons"></i>
                            <i class="fa-solid fa-paperclip buttons"></i>
                            <i class="fa-solid fa-ellipsis-vertical buttons"></i>
                        </div>
                    </div>
                    <div class="msg-body">
                        <div :class="(element.status == 'sent'?'msg-user-wrapper':'msg-wrapper')"  v-for="(element, index) in contacts[elementoSelezionato].messages" >
                            <div :class="(element.status == 'sent'?'user-msg':'bot-msg')" >
                                <div class="d-flex space-between">
                                    <span>{{element.message}}</span>
                                    <div  class="dropdown">
                                        <button class="dropbtn" @click="active(index)"><i class="fa-solid fa-chevron-down"></i></button>
                                            <div class="dropdown-content" :class="(isActive == true && index == indexMsg ?'display-block':'')">
                                                <button class="dropdown-buttons">Info Messaggio</button>
                                                <button  class="dropdown-buttons" @click="removeMessage(indexMsg)">Elimina Messaggio</button>
                                            </div>
                                    </div>
                                </div>
                                
                                <div class="date">{{element.date}}</div>
                            </div>
                            
                        </div>

                    </div>
                    <div class="msg-input d-flex">
                        <i class="fa-regular fa-face-smile buttons m-2"></i>
                        <input class="send-msg" type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="addMessage">
                        <i class="fa-solid fa-microphone buttons m-2"></i>
                    </div>
                </div>
            </div>
        </main>

    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js"></script>
</body>
</html>